<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.4.5//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Employee"> 
    <resultMap id = "resultEmployee" type = "com.company.model.Employee">
        <result property = "idEmployee" column = "employee_id"/>
        <result property = "lastName" column = "last_name"/>
        <result property = "firstName" column = "first_name"/>
        <result property = "email" column = "email"/>
        <result property = "dateOfHire" column = "date_of_hire"/>
    </resultMap>
    <sql id = "getEmployee">
        SELECT employee_id,
        last_name,
        first_name,
        email,
        date_of_hire 
        FROM EMPLOYEE
    </sql>
    <select id="getById"  parameterType="long" resultMap="resultEmployee" >
        <include refid="getEmployee"/>
        WHERE employee_id = #{idEmployee}
    </select>
    <select id="getAllNotInDayVacation"  parameterType="int" resultMap="resultEmployee" >
        <include refid="getEmployee"/>
        WHERE employee_id
        NOT IN 
        (SELECT employee_id
        FROM DAYS_VACATION
        WHERE year_vacation = #{year})
    </select>
</mapper>
